.DS_Store
node_modules
drafts
/dist
.env


# local env files
.env.local
.env.dev
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
public/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.turbo/
.clinic/
.cursorignore
